openapi: 3.0.0
info:
  description: |
    API de la Heladería Via Apilia. A través de esta API se pueden consultar
    los gustos de helado y realizar pedidos.
  version: "1.0.0"
  title: Heladería Via Apilia
  contact:
    email: devs@heladeria-apilia.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.heladeria-apilia.com'
tags:
  - name: gustos
    description: Todo sobre gustos
  - name: pedidos
    description: Todo sobre pedidos
  - name: repartidores
    description: Todo sobre repartidores
paths:
  /gustos:
    get:
      tags:
        - gustos
      description: Listar los gustos de helado
      parameters:
      - in: query
        name: tipo
        required: false
        schema:
          $ref: '#/components/schemas/TipoDeGusto'
      responses:
        '200':
          description: Estos son los gustos de helado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Gusto'
  /gustos/{gustoId}:
    get:
      tags:
        - gustos
      description: Ver un gusto particular
      parameters:
      - $ref: '#/components/parameters/gustoId'
      responses:
        '200':
          description: El gusto seleccionado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gusto'
        '404':
          description: No se conoce un gusto con tal id
  /pedidos:
    post:
      tags:
        - pedidos
      description: Crear un nuevo pedido a la dirección indicada
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                direccion_entrega:
                  type: string
                  description: dirección en la que se ha de entregar este pedido
              required: [direccion_entrega]
      responses:
        '201':
          description: El pedido ha sido creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pedido'
  /pedidos/{pedidoId}:
    get:
      tags:
        - pedidos
      description: Ver un pedido particular
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      responses:
        '200':
          description: El pedido ha sido hallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pedido'
        '404':
          description: No se conoce un pedido con tal id
    put:
      tags:
        - pedidos
      description: Cambiar los datos de un pedido particular
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                direccion_entrega:
                  type: string
                  description: dirección en la que se ha de entregar este pedido
              required: [direccion_entrega]
      responses:
        '200':
          description: El pedido ha sido actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pedido'
        '404':
          description: No se conoce un pedido con tal id
  /pedidos/{pedidoId}/potes:
    get:
      tags:
        - pedidos
      description: Lista los potes que componen un pedido
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      responses:
        '200':
          description: Los potes del pedido
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Pote'
        '404':
          description: No se conoce un pedido con tal id
    post:
      tags:
        - pedidos
      description: Agrega un pote a un pedido
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                peso:
                  $ref: '#/components/schemas/PesoDePote'
                gustos:
                  type: array
                  items:
                    type: string
                  description: los gustos de helado en este pote
                  example: [ddl, pist]
              required: [peso, gustos]
      responses:
        '201':
          description: El pote fue agregado al pedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pote'
        '404':
          description: No se conoce un pedido con tal id
  /pedidos/{pedidoId}/potes/{poteId}:
    delete:
      tags:
        - pedidos
      description: quitar un pote de un pedido
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      - $ref: '#/components/parameters/poteId'
      responses:
        '204':
          description: El pote fue quitado del pedido
        '404':
          description: No se conoce un pedido y/o pote con tal id
  /pedidos/{pedidoId}/pagar:
    post:
      tags:
        - pedidos
      description: Inicia el pago del pedido
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DatosDePagoTarjeta'
              - $ref: '#/components/schemas/DatosDePagoBilleteraVirtual'
      responses:
        '202':
          description: Los datos de pago han sido recibidos y serán procesados
        '404':
          description: No se conoce un pedido con tal id
  /pedidos/{pedidoId}/pago:
    get:
      tags:
        - pedidos
      description: Ver el estado del pago de un pedido particular
      parameters:
      - $ref: '#/components/parameters/pedidoId'
      responses:
        '200':
          description: Este es el estado del pago del pedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pago'
        '404':
          description: No se conoce un pedido con tal id
  /pedidos/{pedidoId}/repartidores/{repartidorId}:
    post:
      tags:
        - pedidos
      description: Asociar un pedido con un repartidor
      parameters:
        - $ref: '#/components/parameters/pedidoId'
        - $ref: '#/components/parameters/repartidorId'
      responses:
        '200':
          description: El pedido ha sido asociado con el repartidor deseado
        '404':
          description: No se conoce un pedido y/o repartidor con tal id
    delete:
      tags:
        - pedidos
      description: Desasociar un pedido con un repartidor
      parameters:
        - $ref: '#/components/parameters/pedidoId'
        - $ref: '#/components/parameters/repartidorId'
      responses:
        '200':
          description: El pedido ha sido desasociado del repartidor deseado
        '404':
          description: No se conoce un pedido y/o repartidor con tal id
  /repartidores:
    post:
      tags:
        - repartidores
      description: Agregamos un repartidor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Repartidor'
      responses:
        '201':
          description: El repartidor ha sido agregado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repartidor'
        '400':
          description: El request para agregar un repartidor nuevo, tuvo un error de validación
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags:
        - repartidores
      description: Listar los repartidores
      parameters:
      - in: query
        name: edad
        required: false
        schema:
          $ref: '#/components/schemas/EdadDelRepartidor'
      responses:
        '200':
          description: Estos son los repartidores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repartidor'
  /repartidores/{repartidorId}:
    put:
      tags:
        - repartidores
      description: Cambiar los datos de un repartidor en particular
      parameters:
      - $ref: '#/components/parameters/repartidorId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Repartidor'
      responses:
        '200':
          description: El repartidor ha sido actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repartidor'
        '404':
          description: No se conoce un repartidor con tal id
        '400':
          description: El request para modificar un repartidor existente, tuvo un error de validación
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - repartidores
      description: Eliminamos un repartidor
      parameters:
      - $ref: '#/components/parameters/repartidorId'
      responses:
        '204':
          description: Sea eliminado al repartidor
        '404':
          description: No se conoce un repartidor con tal id
  /repartidores/{repartidorId}/vehiculos:
    post:
      tags:
        - repartidores
      description: Agregando un vehiculo a un repartidor
      parameters:
      - $ref: '#/components/parameters/repartidorId'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DatosDeMotocicleta'
                - $ref: '#/components/schemas/DatosDeBicicleta'
                - $ref: '#/components/schemas/DatosDeAutomovil'
      responses:
        '201':
          description: El vehiculo ha sido agregado al repartidor
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DatosDeMotocicleta'
                - $ref: '#/components/schemas/DatosDeBicicleta'
                - $ref: '#/components/schemas/DatosDeAutomovil'
        '400':
          description: El request para agregar un vehiculo nuevo a un repartidor, tuvo un error de validación
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: No se conoce un repartidor con tal id
    get:
      tags:
        - repartidores
      description: Listar los vehiculos de un repartidor
      parameters:
      - $ref: '#/components/parameters/repartidorId'
      responses:
        '200':
          description: Estos son los repartidores que trabajan en la heladeria
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/DatosDeMotocicleta'
                  - $ref: '#/components/schemas/DatosDeBicicleta'
                  - $ref: '#/components/schemas/DatosDeAutomovil'
        '404':
          description: No se conoce un repartidor con tal id
  /repartidores/{repartidorId}/vehiculos/{vehiculoId}:
    put:
      tags:
        - repartidores
      description: Cambiar los datos de un vehiculo de un repartidor en particular
      parameters:
        - $ref: '#/components/parameters/repartidorId'
        - $ref: '#/components/parameters/vehiculoId'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DatosDeMotocicleta'
              - $ref: '#/components/schemas/DatosDeBicicleta'
              - $ref: '#/components/schemas/DatosDeAutomovil'
      responses:
        '200':
          description: El vehiculo ha sido actualizado
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DatosDeMotocicleta'
                - $ref: '#/components/schemas/DatosDeBicicleta'
                - $ref: '#/components/schemas/DatosDeAutomovil'
        '404':
          description: No se conoce un vehiculo y/o repartidor con tal id
        '400':
          description: El request para modificar un vehiculo existente, el cual esta asociado a un repartidor, tuvo un error de validación
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  parameters:
    gustoId:
      name: gustoId
      in: path
      description: id del gusto
      required: true
      schema:
        type: string
    pedidoId:
      name: pedidoId
      in: path
      description: id del pedido
      required: true
      schema:
        type: integer
    poteId:
      name: poteId
      in: path
      description: id del pote
      required: true
      schema:
        type: integer
    repartidorId:
      name: repartidorId
      in: path
      description: id del repartidor
      required: true
      schema:
        type: integer
    vehiculoId:
      name: vehiculoId
      in: path
      description: id del vehiculo
      required: true
      schema:
        type: integer
  schemas:
    Error:
      type: object
      properties:
        mensaje_de_error:
          type: string
        codigo_de_error:
          type: number
          format: int8
          example: 1
        campo:
          type: string
    TipoDeGusto:
      description: categoría de gustos de helado
      type: string
      enum:
        - chocolates
        - dulce de leches
        - cremas
        - frutas
      example: dulce de leches
    Gusto:
      description: un gusto de helado
      type: object
      properties:
        id:
          type: string
          description: nombre corto que identifica este gusto
          example: ddl
        nombre:
          type: string
          description: nombre legible por humanos para este gusto
          example: Dulce de leche
        tipo:
          $ref: '#/components/schemas/TipoDeGusto'
      required: [id, nombre, tipo]
    Pedido:
      description: un pedido de helados
      type: object
      properties:
        id:
          type: integer
          description: identificador de este pedido
          example: 22
        direccion_entrega:
          type: string
          description: dirección en la que se ha de entregar este pedido
          example: Lavalleja 244 4C, CABA
        _links:
          type: object
          description: hypermedia links de un pedido
          properties:
            potes: 
              $ref: '#/components/schemas/Link'
            pagar: 
              $ref: '#/components/schemas/Link'
            pago: 
              $ref: '#/components/schemas/Link'
            repartidorAsociado:
              $ref: '#/components/schemas/Link'
      required: [id, direccion_entrega]
    PesoDePote:
      description: peso de un pote de helado en gramos
      type: string
      enum:
        - "1000"
        - "500"
        - "250"
      example: "500"
    Pote:
      description: un pote de helado dentro de un pedido
      type: object
      properties:
        id:
          type: integer
          description: identificador de este pote dentro del pedido
          example: 1
        peso:
          $ref: '#/components/schemas/PesoDePote'
        gustos:
          type: array
          items:
            type: object
            properties:
              id: 
                type: string
                description: el id del gusto de helado en este pote
                example: ddl
              _links:
                type: object
                description: hypermedia links de un gusto dentro de un pote
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
          description: los gustos de helado en este pote
        _links:
          type: object
          description: hypermedia links de un pote
          properties:
            pedido:
              $ref: '#/components/schemas/Link'
            borrar: 
              $ref: '#/components/schemas/Link'
      required: [id, peso, gustos]
    DatosDePago:
      description: los datos necesarios para iniciar el pago de un pedido
      type: object
      discriminator:
        propertyName: tipoDePago
      properties:
        tipoDePago:
          type: string
          description: se usa para determinar el tipo de pago a usar
          example: "Tarjeta"
      required: [tipoDePago]
    DatosDePagoBilleteraVirtual:
      description: datos de pago cuando se usa una billetera virtual
      allOf:
      - $ref: '#/components/schemas/DatosDePago'
      - type: object
        properties:
          alias:
            type: string
            description: nombre de usuario o alias de la billetera a utilizar
            example: mi.cuenta.billetera
        required: [alias]
    DatosDePagoTarjeta:
      description: datos de pago cuando se usa tarjeta de crédito
      allOf:
      - $ref: '#/components/schemas/DatosDePago'
      - type: object
        properties:
          numerosTarjeta:
            type: string
            description: los 15 o 16 números de la tarjeta de crédito
            example: "1234567812345678"
          vencimientoTarjetaMes:
            type: number
            format: int8
            minimum: 1
            maximum: 6
            description: el mes del vencimiento de la tarjeta de crédito
            example: 4
          vencimientoTarjetaAnio:
            type: number
            format: int8
            minimum: 0
            maximum: 99
            description: el año de vencimiento de la tarjeta expresado en dos dígitos
            example: 24
        required: [numerosTarjeta, vencimientoTarjetaMes, vencimientoTarjetaAnio]
    Pago:
      description: estado del pago de un pedido
      type: object
      properties:
        status:
          type: string
          enum:
            - pendiente de pago
            - pago en proceso
            - pago aceptado
            - pago fallado
          example: pago aceptado
      required: [status]
    Link:
      description: un link usado para hypermedia
      type: object
      properties:
        href:
          type: string
          format: uri
          description: la URI del link
          example: "http://foo.com/bar"
        verb:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          example: GET
          description: el verbo a usar en el link
    Repartidor:
      description: un repartidor
      type: object
      properties:
        id: #read only
          type: integer
          description: identificador del repartidor
          example: 1
        nombre:
          type: string
          description: nombre del repartidor
          example: Juan
        apellido:
          type: string
          description: apellido del repartidor
          example: Avila
        edad:
          $ref: '#/components/schemas/EdadDelRepartidor'
        cuil:
          type: string
          description: cuil del repartidor, el cual tiene 12 numeros
          example: "20401099387"
        _links: #read only
          type: object
          description: hypermedia links de un pote
          properties:
            pedidos:
              $ref: '#/components/schemas/Link'
            vehiculos:
              $ref: '#/components/schemas/Link'
      required: [id, nombre, apellido, edad, cuil]
    EdadDelRepartidor:
      description: edad que tiene un repartidor
      type: number
      format: int8
      example: 20
      minimum: 15
      maximum: 70
    DatosDelVehiculo:
      description: los datos de un vehiculo
      type: object
      discriminator:
        propertyName: tipoDeVehiculo
      properties:
        id: #read only
          type: integer
          description: identificador del vehiculo
          example: 1
        tipoDeVehiculo: #read only
          type: string
          description: se usa para determinar el tipo de vehiculo que usa
          example: "DatosDeBicicleta"
        marca: #read only
          type: string
          description: marca del vehiculo
          example: "Specialized"
        modelo: #read only
          type: string
          description: modelo del vehiculo
          example: "Specialized Stumpjumper"
        _links: #read only
          type: object
          description: hypermedia links de un pote
          properties:
            propietario:
              $ref: '#/components/schemas/Link'
      required: [id, tipoDeVehiculo, marca, modelo]
    DatosDeBicicleta:
      description: datos de una bicicleta
      allOf:
      - $ref: '#/components/schemas/DatosDelVehiculo'
      - type: object
        properties:
          rodado:
            type: string
            description: es el diametro externo de la llanta de la bicicleta
            enum:
            - "12"
            - "14"
            - "16"
            - "20"
            - "24"
            - "26"
            example: 26
        required: [rodado]
    DatosDeMotocicleta:
      description: datos de una motocicleta
      allOf:
      - $ref: '#/components/schemas/DatosDelVehiculo'
      - type: object
        properties:
          patente:
            type: string
            description: patente de la motocicleta
            pattern: '^\[A-Z]{3}d{3}$'
            example: "JXT685"
        required: [patente]
    DatosDeAutomovil:
      description: datos de un automovil
      allOf:
      - $ref: '#/components/schemas/DatosDelVehiculo'
      - type: object
        properties:
          patente:
            type: string
            description: patente del automovil
            pattern: '^\[A-Z]{3}d{3}$'
            example: "JZA155"
        required: [patente]
